<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056219993555-1kpq0dceo8vq1vv1afomo8fojora3ot0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056219993555-1kpq0dceo8vq1vv1afomo8fojora3ot0</string>
	<key>API_KEY</key>
	<string>AIzaSyDHmCcUC7O_5deTu-e18-ZMITgWmB6eIQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1056219993555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.yapfengyuan.flash-chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-dea2b</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-dea2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056219993555:ios:f003cd26e3975845e04b26</string>
</dict>
</plist>